/*!
 * we are useing Bootstap and w3school in css in  bootstrap official site and w3school learn and reference use.
 *
 * More info:
 * https://getbootstrap.com/
   https://w3school.com/
 * @preserve
 */

/*header css*/
*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
.clear{
    overflow: hidden;
}
header{
	background-image: url();	
	background-size: cover;
	background-position: center;
	
	background-color: rgb(34, 34, 34); 

}

.container {width:1320px; max-width: 100%; display: table; margin:0 auto;}
.nav {  float: right;}
.logo {float:left;}
.logo a {font-size: 55px; color:#999; text-decoration: none;}
.nav ul{
	float: right;
	list-style-type: none;
}
.nav ul li{
	display: inline-block;
}
.nav ul li a{
	text-decoration: none;
	color: #999;
	padding:5px 20px;
	margin: 0px 0px;
	
	display: inline-block;
}

.nav ul li a:hover{
	background-color: #fff;
	color: #000;
}

html, body {
  background: #F7F5E6;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slider {
  margin: 0 auto;
  max-width: 1170px;
}

.slide_viewer {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #D7A151;
}

.slide:nth-of-type(2) {
  background: #F4E4CD;
}

.slide:nth-of-type(3) {
  background: #C75534;
}

.slide:nth-of-type(4) {
  background: #D1D1D4;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}
* {box-sizing:border-box}

/*sideshowimages css*/
* {box-sizing:border-box}

/* Slideshow container */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*FACILITIES CSS*/
.FACILITIES-container {width:1170px; max-width: 100%; display: table; margin:0 auto;}
.FACILITIES-container h1{
	text-decoration: none;
	color: #999;
	padding:35px 0px;
	margin:0 auto
	;
}
.FACILITIES-container p{
	text-align:justify}
.FACILITIES-container h2{
	text-decoration: none;
	color: #999;
	padding:5px 7px;
	margin:0 auto;
	font-size: 40px;
	/* float: left; */
	text-align: right;
	
}
.demo h3{
	text-decoration: none;
	color: #999;
	padding:0px 26px;
	margin: 45px -24px 0px 0px;
	font-size: 40px;
	/* float: left; */
	text-align: right;
	
}


.demo1 h3{
	text-decoration: none;
	color: #999;
	padding:0px 30px;
	margin: 166px -24px 0px 0px;
	font-size: 24px;
	/* float: left; */
	text-align: right;
	
}
.demo1 h4{
	font-size: 24px;
}
.demo2 h5{
	text-decoration: none;
	color: #999;
	padding:0px 30px;
	margin: 64px -24px 0px 0px;
	font-size: 24px;
	/* float: left; */
	text-align: right;
	
}
.demo2 h5{
	font-size: 24px;
}
.demo3 h6{
	text-decoration: none;
	color: #999;
	padding:0px 30px;
	margin: 115px -24px 0px 0px;
	font-size: 24px;
	/* float: left; */
	text-align: right;
	
}
.demo3 h6{
	font-size: 24px;
}.demo4 h6{
	text-decoration: none;
	color: #999;
	padding:0px 30px;
	margin: 28px -24px 0px 0px;
	font-size: 24px;
	/* float: left; */
	text-align: right;
	
}
.demo4 h6{
	font-size: 24px;
}
.FACILITIES-container p{
	color: #000;
 	text-indent: 50px;
 	margin-bottom: 1.5em;
 	font-size:18px;
 	font-weight: 300;
}
.FACILITIES-container p img{
	float: left;
}
.category{
	width: 100%;
	 float:left;
	 margin:0;	 
}
.category ul{
	margin: 0;
	padding: 0;
}
.category ul li{
	display:inline-block;
	margin: 10px 10px 10px 10px;
	padding: 15px 15px 15px 15px;
}



/*footer css*/
footer{
	background-image: url();	
	background-size: cover;
	background-position: center;
   	font-color:gray;
	background-color: rgb(34, 34, 34);
	font-family: 'Poppins', sans-serif;	
	}
footer section a {
    color: gainsboro;
  }

footer h1 {
    color: gainsboro;
  }



/*contact CSS*/
 h1,
        h2,
        h3,
        h4,
        h5,
        h6 {}
        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            outline: none;
        }
        
        a,
        a:active,
        a:focus {
            color: #333;
            text-decoration: none;
            transition-timing-function: ease-in-out;
            -ms-transition-timing-function: ease-in-out;
            -moz-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            transition-duration: .2s;
            -ms-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -webkit-transition-duration: .2s;
            -o-transition-duration: .2s;
        }
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        img {
    max-width: 100%;
    height: auto;
}


.sec-title-style1 {
    position: relative;
    display: block;
    margin-top: -9px;
    padding-bottom: 50px;
}
.sec-title-style1.max-width{
    position: relative;
    display: block;
    max-width: 770px;
    margin: -9px auto 0;
    padding-bottom: 52px;    
}
.sec-title-style1.pabottom50 {
    padding-bottom: 42px;
}
.sec-title-style1 .title {
    position: relative;
    display: block;
    color: #131313;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
}
.sec-title-style1 .title.clr-white{
    color: #ffffff;
}
.sec-title-style1 .decor {
    position: relative;
    display: block;
    width: 70px;
    height: 5px;
    margin: 19px 0 0;
}
.sec-title-style1 .decor:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .decor:after{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .decor span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #FFA500;
    margin: 2px 0;
}


.sec-title-style1 .text{
    position: relative;
    display: block;
    margin: 7px 0 0;
}
.sec-title-style1 .text p{
    position: relative;
    display: inline-block;
    padding: 0 15px;
    color: #131313;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.sec-title-style1 .text.clr-yellow p{
    color: #FFA500;
}
.sec-title-style1 .text .decor-left{
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: transparent;
}
.sec-title-style1 .text .decor-left span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #FFA500;
    content: "";
    margin: 2px 0;
}
.sec-title-style1 .text .decor-left:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .text .decor-left:after{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}

.sec-title-style1 .text .decor-right{
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: transparent;
}
.sec-title-style1 .text .decor-right span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #FFA500;
    content: "";
    margin: 2px 0;
}
.sec-title-style1 .text .decor-right:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .text .decor-right:after{
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}

.sec-title-style1 .bottom-text{
    position: relative;
    display: block;
    padding-top: 16px;
}
.sec-title-style1 .bottom-text p{
    color: #848484;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
}
.sec-title-style1 .bottom-text.clr-gray p{
    color: #cdcdcd;    
}
.contact-address-area{
    position: relative;
    display: block;
    background: #8A4747 ;
    padding: 100px 0 120px;
}
.contact-address-area .sec-title-style1.max-width {
    padding-bottom: 72px;
}
.contact-address-box{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;    
}
.single-contact-address-box {
    position: relative;
    display: block;
    background: #131313;
    padding: 85px 30px 77px;
}
.single-contact-address-box .icon-holder{
    position: relative;
    display: block;
    padding-bottom: 24px;
}
.single-contact-address-box .icon-holder span:before{
    font-size: 75px;
}
.single-contact-address-box h3{
    color: #ffffff;
    margin: 0px 0 9px;
}
.single-contact-address-box h2{
    color: #FFA500;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 19px;
}
.single-contact-address-box a{
    color: #ffffff;
}

.single-contact-address-box.main-branch {
    background: #FFA500;
    padding: 53px 30px 51px;
    margin-top: -20px;
    margin-bottom: -20px;
}
.single-contact-address-box.main-branch h3{
    color: #131313;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 38px;
    text-transform: uppercase;
    text-align: center;
}
.single-contact-address-box.main-branch .inner{
    position: relative;
    display: block;
    
}
.single-contact-address-box.main-branch .inner ul{
    position: relative;
    display: block;
    overflow: hidden;
}
.single-contact-address-box.main-branch .inner ul li{
    position: relative;
    display: block;
    padding-left: 110px;
    border-bottom: 1px solid #737373;
    padding-bottom: 23px;
    margin-bottom: 24px;
}
.single-contact-address-box.main-branch .inner ul li:last-child{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.single-contact-address-box.main-branch .inner ul li .title{
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
}
.single-contact-address-box.main-branch .inner ul li .title h4{
    color: #131313;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    border-bottom: 2px solid #a5821e;
}

.single-contact-address-box.main-branch .inner ul li .text{
    position: relative;
    display: block;
}
.single-contact-address-box.main-branch .inner ul li .text p{
    color: #131313;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
}

.contact-info-area {
    position: relative;
    display: block;
    background: #ffffff;
}
.contact-form {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 100px 60px 80px;
    
    ;
}
.contact-form .sec-title-style1{
    position: relative;
    display: block;
    padding-bottom: 51px;
    width: 50%;
}
.contact-form .text-box{
    position: relative;
    display: block;
    margin-top: 19px;
    width: 50%;    
}
.contact-form .text p{
    color: #848484;
    line-height: 26px;
    margin: 0;
}

.contact-form .inner-box{
    position: relative;
    display: block;
    background: #ffffff;
}
.contact-form form{
    position: relative;
    display: block;
}
.contact-form form .input-box{
    position: relative;
    display: block;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea{
    position: relative;
    display: block;   
    background: #ffffff;
    border: 1px solid #eeeeee;
    width: 100%;
    height: 55px;
    font-size: 16px;
    padding-left: 19px;
    padding-right: 15px;
    border-radius: 0px;
    margin-bottom: 20px;
    transition: all 500ms ease;
}
.contact-form form textarea {
    height: 130px;
    padding-left: 19px;
    padding-right: 15px;
    padding-top: 14px;
    padding-bottom: 15px;
}
.contact-form form input[type="text"]:focus{
    color: #222222;
    border-color: #d4d4d4; 
}
.contact-form form input[type="email"]:focus{
    color: #222222;
    border-color: #d4d4d4;
}
.contact-form form textarea:focus{
    color: #222222;
    border-color: #d4d4d4;
}
.contact-form form input[type="text"]::-webkit-input-placeholder {
    color: #848484;
}
.contact-form form input[type="text"]:-moz-placeholder {
    color: #848484;
}
.contact-form form input[type="text"]::-moz-placeholder {
    color: #848484;
}
.contact-form form input[type="text"]:-ms-input-placeholder {
    color: #848484;
}
.contact-form form input[type="email"]::-webkit-input-placeholder {
    color: #848484;
}
.contact-form form input[type="email"]:-moz-placeholder {
    color: #848484;
}
.contact-form form input[type="email"]::-moz-placeholder {
    color: #848484;
}
.contact-form form input[type="email"]:-ms-input-placeholder {
    color: #848484;
}
.contact-form form button {
    position: relative;
    display: block;
    width: 100%;
    background: #FFA500;
    border: 1px solid #FFA500;
    color: #131313;
    font-size: 16px;
    line-height: 55px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    cursor: pointer;
}

.contact-form form button:hover{
    color: #ffffff;
    background: #131313;
}

/*services CSS*/
.box > .icon { 
    text-align: 
    center; 
    position: 
    relative; 
    }
.box > .icon > .image { 
    position: relative; 
    z-index: 2; 
    margin: auto; 
    width: 88px; 
    height: 88px; 
    border: 8px solid white; 
    line-height: 88px; 
    border-radius: 50%; 
    background: #428bca; 
    vertical-align: middle; 
    }
.box > .icon > .image > i { 
    font-size: 36px !important; 
    color: #fff !important; 
    }
.box > .icon:hover > .image > i { 
    color: white !important; 
    }
.box > .icon > .info { 
    margin-top: -24px; 
    background: rgba(0, 0, 0, 0.04); 
    border: 1px solid #e0e0e0; 
    padding: 15px 0 10px 0; 
    }
.box > .icon > .info > h3.title { 
    font-family: sans-serif !important; 
    font-size: 16px; 
    color: #222; 
    font-weight: 500; 
    }
.box > .icon > .info > p { 
    font-family: sans-serif !important; 
    font-size: 13px; 
    color: #666; 
    line-height: 1.5em; 
    margin: 20px;
    }
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { 
    color: #222; 
    }
.box > .icon > .info > .more a { 
    font-family: sans-serif !important; 
    font-size: 12px; 
    color: #222; 
    line-height: 12px; 
    text-transform: uppercase; 
    text-decoration: none; 
    }
.box > .icon:hover > .info > .more > a { 
    color: #fff; 
    padding: 6px 8px; 
    background-color: #63B76C; 
    }
.box .space { 
    height: 30px; 
    }

.modal-header-primary {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/* sevices-container CSS*/
.sevices-container{
	width:1170px; max-width: 100%; display: table; margin:0 auto;
}

table.table {
    width: 100%;
    max-width: 100%;
    margin-top: 70px;
    margin-bottom: 201px;
}

/* unvisited link */
table.table a:link {
  color: red;
}

/* visited link */
table.table a:visited {
  color: blue;
}

/* mouse over link */
table.table a:hover {
  color: hotpink;
}

/* selected link */
table.table a:active {
  color: blue;
}



.gallary-h h1{
  text-align: center;
  color: forestgreen;
  margin: 30px 0 50px;
}
.gallary{
margin: 10px 50px;

} 
.gallary img{ width:350px; padding: 5px;filter: grayscale(100%);transition: 1s }
.gallary img:hover{
  filter: grayscale(0);
  transition:scale(1.1)
}


/* blog */
.blog{
    width: 100%;
    padding: 50px 0;
}
.blog-inner{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.blog-inner h2{
    line-height: 30px;
}
.blog-inner p{}
.blog-grid{
    width: 100%;
    height: 350px;
    padding: 60px 0 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 5px 15px;
    justify-content: center;
    align-content: center;
}
.blog-item{}
.blog-item a{}
.blog-item img{
    max-width: 300px;
    text-decoration: none;
    border: 1px solid #cecccc;
    padding: 10px;
}
.blog-detail{
    max-width: 260px;
    margin: -40px auto 0;
    background-color: #fff;
    position: relative;
    padding: 10px;
}
.blog-detail ul{}
.blog-detail ul li{
    list-style: none;
    display: inline-block;
    border-right: 1px solid #868686;
    padding: 0 10px;
    color: #3d3c3c;
}
.blog-detail ul li:last-child{
    border: none;
}
.blog-detail ul li p{
    font-size: 12px;
}
.blog-detail h6{
    font-size: 15px;
    color: #5f5d5d;
    font-weight: 500;
    margin: 15px 10px 40px;
}
.blog-detail a{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #00ADEF;
    padding: 10px 20px;
    margin: 20px 0;
}
.blog-detail a:hover{
    background-color: transparent;
    color: #5f5d5d;
    border: 1px solid black;
    transition: all .3s ease-in-out;
}





/* end of blog */

.what-we-do{
    background: url(../image/service.jpg);
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    position: relative;
    z-index: 100;
}
.what-we-do::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.do-inner{
    width: 75%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}
.do-inner h2{
    font-weight: 400;
    color: #474747;
    line-height: 40px;
}
.do-inner p{
    color: #474747;
    font-size: 15px;
}
.do-inner ul{
    margin-top: 20px;
}
.do-inner ul li{
    list-style: none;
    float: left;
    margin: 20px 45px;
    width: 25%;
}
.do-inner ul li h4{
    margin: 20px 0;
    color: #474747;
    font-weight: 400;
    line-height: 25px;
}
.do-inner ul li p{
    margin: 15px 0;
    font-size: 15px;
    line-height: 20px;
    color: #868686;
}
.do-inner ul li a{
    text-decoration: none;
    color: #00ADEF;
}
.do-icon{
    color: #00ADEF !important;
    background-color: black;
    font-size: 10px;
    padding: 30px;
    border: 1px solid rgb(223, 221, 221);
    border-radius: 50%;
}
.do-icon:hover{
    background: #ffffff;
    color: #00ADEF;
    transition: all .3s ease-in-out;
}



.contentsection{
    width: 100%;
    
    padding: 50px 0;
}
.maincontent{
    width: 75%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}
.maincontent p{
    font-size: 18px;
    line-height: 25px;
    margin: 25px 0;
    color: rgba(0,0,0,.8);
}
.content-para{
    text-align: justify;
}

.grid{
    display: grid;
    margin: 10px;
    padding: 20px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px 100px;
    justify-content: center;
    align-content: center;
}
.item p{
    font-size: 20px !important;
    line-height: 32px;
    
}

.contentIcon{
    
    color: #00ADEF;
}



